{% extends 'base.html' %}
{% load static %}
{% block title %}Chat Interface{% endblock %}
 
{% block content %}
<div class="chat-container">
    <div class="chat-header">
        <img src="{% static 'gpt/robot-icon.png' %}" alt="Robot Icon" class="robot-icon">
        <div class="header-text">
            <h1> 안녕하세요🤖 예비 에이블러님 <br> 도움이 필요하신가요?</h1>
        </div>
    </div>
    <div class="chat-box" id="chat-box">
        {% for msg in chat_history %}
            {% if msg.role == "user" %}
                <div class='message sent'>{{ msg.content }}</div>
            {% elif msg.role == "ai" %}
                <div class="message received">{{ msg.content }}</div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="chat-input">
        <form id="chat-form">
            {% csrf_token %}
            <button type="button" id="clear-button" class="clear-button">Clear</button>
            <div class="chat-question">
                <input type="text" id="question" name="question" placeholder="메세지 입력" required>
                <button type="submit" class="send-button"></button>
            </div>
        </form>
    </div>
</div>
 
<script>
 
    function scrollToBottom() {
        const chatBox = $('#chat-box');
        chatBox.scrollTop(chatBox[0].scrollHeight);
    }
 
    $(document).ready(function() {
 
        $('#delete').hide();
 
        scrollToBottom();
 
        $('#clear-button').on('click', function() {
            $.ajax({
                type: 'POST',
                url: '{% url "chatgpt:clear_chat" %}',
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function() {
                    $('#chat-box').empty();
                },
                error: function(xhr, errmsg, err) {
                    console.log(xhr.status + ": " + xhr.responseText);
                }
            });
        });
 
        $('#chat-form').on('submit', function(e) {
            e.preventDefault();
            const question = $('#question').val();
            $('#question').val('');  // 입력 필드 비우기
 
            if (question.trim() === '') {
                return;
            }
 
            $('#chat-box').append('<div class="message received">' + question + '</div>');
            scrollToBottom();
           
            $.ajax({
                type: 'POST',
                url: '{% url "chatgpt:chat" %}',
                data: {
                    question: question,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function(response) {
                    $('#chat-box').append('<div class="message sent">' + response.result + '</div>');
                    // 채팅 박스를 최신 메시지로 스크롤
                    scrollToBottom();
                },
                error: function(xhr, errmsg, err) {
                    console.log(xhr.status + ": " + xhr.responseText);
                }
            });
        });
    });
</script>
{% endblock %}